/* @import "./styleTest.styles";  */

.sw-editor_container__wrapper {
  width: 100%;
  min-height: 80px;
  box-sizing: border-box;
}

.sw-flow_container__wrapper {
  max-width: 994px;
  margin: 0 auto;
  color: var(--sw-html-content-color, "inherit");
}

.sw-styled-content {
  line-height: 1.4em;
  letter-spacing: 0.02em;
  color: var(--user-text-color, var(--sw-text-color, "inherit"));
}
.sw-styled-content p {
  color: var(--user-p-color, var(--sw-text-color, "inherit"));
  min-width: min(var(--user-p-min-width, var(--sw-p-min-width, 80ch)), 100%);
  max-width: min(var(--user-p-max-width, var(--sw-p-max-width, 80ch)), 100%);
}

.sw-flow-container__content {
  /* max-width: 100%; */
  width: 100%;
  min-width: min(var(--user-p-min-width, var(--sw-p-min-width, 80ch)), 100%);
  max-width: min(var(--user-p-max-width, var(--sw-p-max-width, 80ch)), 100%);
}

/* .sw-flow-container__content--default  {
    min-width: 400px;
  } */
.sw-flow-container__content p {
  max-width: 100%;
  /* max-width:  min(var(--user-p-max-width, var(--sw-p-max-width, 100%)), 100%); */
}

.sw-flow-container__content p:before {
  content: "";
  width: 20ch;
  display: block;
  overflow: hidden;
  /* For Demonstration */
  /* border: 1px solid green; */
}

.sw-flow-container__figure {
  clear: both;
  shape-outside: margin-box;
  --sw-p-max-width: var(--sw-figure-width);
  max-width: calc(100% - 20ch - 20px);
}

.sw-styled-image__figure {
  width: fit-content;
  margin: 0;
  box-sizing: border-box;
  width: fit-content;
}

.sw-styled-image__figure.sw-styled-image__figure--percent {
  width: var(--sw-figure-width, 100%);
}

.sw-styled-image__figure.editmode {
  /* max-width: calc(100% - 20ch - 20px); */
  max-width: 100%;
}

.sw-styled-image,
.sw-flow-container__image {
  max-width: 100%;
  object-fit: contain;
  border-radius: 4px;
  vertical-align: middle;
}

.sw-flow-container__image-frame {
  max-width: fit-content;
  max-height: fit-content;
  /* height: var(--img-height); */
  /* width: auto; */
  /* overflow: hidden; */
}

.sw-styled-image {
  /* filter: grayscale(var(--sw-styled-image--grayscale, 0)) blur(var(--sw-styled-image--blur, 0)), */
}

.shape--circle {
  --img-border-radius:50%;
  border-radius: 50%;
}
img.shape--circle {
  object-fit: cover;
}

.shape--oval {
  --img-border-radius:50%;
  border-radius: 50%;
}
.shape--rounded {
  --img-border-radius:min(20%, 24px);
  border-radius: min(20%, 24px);
}

.sw-styled-image-frame {
  width: fit-content;
}
.sw-styled-image__figure.sw-styled-image__figure--percent
  .sw-styled-image-frame {
  width: var(--sw-figure-width, 100%);
}

.sw-styled-image-frame.shape--circle img {
  --img-border-radius:50%;
  border-radius: 50%;
}
.sw-styled-image-frame.shape--oval img {
  --img-border-radius:50%;
  border-radius: 50%;
}
.sw-styled-image-frame.shape--rounded img {
  --img-border-radius:min(19%, 20px);
  border-radius: min(19%, 20px);
}

.sw-styled-image-frame.frame--simpleblack {
  padding: 12px;
  border: 3px solid #000;
  position: relative;
  /* filter: blur(1px); */
}
/* .sw-styled-image-frame.frame--simpleblack::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1;
  content: "";
  padding: 12px;
  border: 2px solid #000;
  filter: blur(1px);
  border-radius: var(--img-border-radius);
} */

/*  */

.sw-styled-image-frame.frame--simplecolor {
  /* border-radius: 6px; */
  box-sizing: border-box;
  border: 5px solid var(--custom-image-frame-color, #00000033);
}

.sw-styled-image__figcaption:not(:empty) {
  /* width: fit-content; */
  /* clear: both; */
  box-sizing: border-box;
  padding: 4px 8px 0 8px;
  line-height: 1.4em;
  width: 100%;
  max-width: 100%;

  /* max-width: var(--sw-figure-width, 100%); */
}

.sw-styled-image__figcaption p {
  margin: 0;
  font-size: 0.8em;
  max-width: 100%;
}

/* .sw-flow_container {
    outline: 5px solid teal;
  } */

@media only screen and (max-width: 700px) {
  .sw-flow-container__figure,
  .sw-flow-container__imgedit {
    float: none !important;
    margin: 0 auto !important;
    padding: 0 !important;
    clear: both;
    max-width: 100% !important;
  }

  .flow_tiptapWrapper {
    flex-wrap: wrap;
  }
}

@container flowwrapper (max-width: 600px) {
  .sw-flow-container__figure,
  .sw-flow-container__imgedit {
    float: none !important;
    margin: 0 auto !important;
    padding: 0 !important;
    clear: both;
    max-width: 100% !important;

    .flow_tiptapWrapper {
      flex-wrap: wrap;
    }
  }
}

/* content tags */

.sw-styled-content p {
  margin: 1em 0;
  max-width: var(--sw-p-max-width, 100%);
}
.sw-styled-content li p {
  margin: 4px 0;
  max-width: var(--sw-p-max-width, 100%);
}

.sw-styled-content h1 {
  padding: 10px 0 0 0;
  font-size: 1.4em;
}
.sw-styled-content h2 {
  padding: 10px 0 0 0;
  font-size: 1.2em;
  font-weight: 600;
}
.sw-styled-content h3 {
  padding: 10px 0 0 0;
  font-size: 1em;
  font-weight: 700;
}

.sw-styled-content ul {
  padding: 0;
}

.sw-styled-content ul li {
  position: relative;
  left: 2em;
  padding-right: 1em;
}

ul:has(p[style="text-align: center"]) {
  margin: 0 auto;
  width: max-content;
  padding: 0 2em 0 0;
}


.article__content img.sw-styled-image,
.article__content img.sw-flow-container__image {
  height: var(--img-height) !important;
}


/* // ###### tabell */


.sw-responsive-table__wrapper {
  font-family: var(
    --sw-responsive-table-font-family,
    "Lato",
    Helvetica,
    Arial,
    sans-serif
  );
  max-width: 100%;
  font-size: var(--sw-responsive-table-wrapper-font-size, 16px);
  line-height: var(--sw-responsive-table-line-height, 1.4);
  margin: var(--sw-responsive-table-margin, 1em 0.5em);
  color: var(--sw-responsive-table-color, #222);
  overflow: auto;
}
.sw-responsive-table__wrapper.tablevariant--sidescroll {
}



.sw-responsive-table__wrapper table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0.5em;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: var(--sw-responsive-table-font-size, 0.9em);
}

.sw-responsive-table__wrapper thead {
  text-align: var(--sw-responsive-table-thead-text-align, left);
  border-bottom: var(--sw-responsive-table-thead-border-bottom-width, 3px) solid
    var(--sw-responsive-table-thead-border-bottom-color, #ddd);
  color: var(--sw-responsive-table-thead-color, #222);
  /* margin-bottom: var(--sw-responsive-table-thead-margin-bottom, 1em); */
  font-weight: var(--sw-responsive-table-thead-font-weight, bold);
}
.sw-responsive-table__wrapper tbody {
  color: var(--sw-responsive-table-tbody-color, #333);
  font-weight: var(--sw-responsive-table-tbody-font-weight, normal);
}

.sw-responsive-table__wrapper--view table th {
  padding: var(--sw-responsive-table-th-padding, 8px 16px);
}

.sw-responsive-table__wrapper--view .sw-responsive-table__cell {
  box-sizing: content-box;

  min-height: var(--sw-responsive-table-td-min-height, 20px);
  padding: var(--sw-responsive-table-td-padding, 8px 16px);
  text-align: var(--sw-responsive-table-tbody-text-align, left);
}

.sw-responsive-table__wrapper.tablestyle--grid table {
  border: 1px solid #222;
}
.tablestyle--grid .sw-responsive-table__cell,
.tablestyle--grid .sw-responsive-table__header-cell {
  border: var(--sw-responsive-table-td-border-bottom-width, 1px) solid
    var(--sw-responsive-table-td-border-bottom-color, #222);
  /* border: 1px solid black; */
}
.sw-responsive-table__wrapper.tablestyle--grid thead {
  border-bottom: var(--sw-responsive-table-thead-border-bottom-width, 2px) solid
    var(--sw-responsive-table-thead-border-bottom-color, #222);
}



.sw-responsive-table__wrapper table tbody tr {
  border-bottom: var(--sw-responsive-table-tr-border-bottom-width, 1px) solid
    var(--sw-responsive-table-tr-border-bottom-color, #ddd);
}


/* media queries - større skjerm */
@media screen and (min-width: 600px) {
  .sw-responsive-table__wrapper table .highlight {
    background-color: var(
      --sw-responsive-table-tr-background-color--highlight,
      #dcf1f0
    );
    font-weight: var(--sw-responsive-table-tr-font-weight--highlight, bold);
  }

  .sw-responsive-table__wrapper.tablestyle--zebra table tr:nth-child(even) {
    background-color: var(
      --sw-responsive-table-tr-background-color--zebra,
      #f6f6f6
    );
  }

  .sw-responsive-table__wrapper .right {
    text-align: right;
  }

  .sw-responsive-table__wrapper .left {
    text-align: left;
  }

  .sw-responsive-table__wrapper .center {
    text-align: center;
  }
}



/* media queries - mindre skjerm*/
@media screen and (max-width: 600px) {
/* @media screen and (overflow-block: scroll) { */

  .sw-responsive-table__wrapper.tablestyle--grid table {
    border: none;
  }

  .sw-responsive-table__wrapper.tablevariant--wrap table tbody tr,
  .sw-responsive-table__wrapper.tablevariant--wrap table tbody td {
    display: block;
  }

  .sw-responsive-table__wrapper.tablevariant--wrap table thead,
  .sw-responsive-table__wrapper.tablevariant--wrap .hide-mobile {
    display: none !important;
  }

  .sw-responsive-table__wrapper.tablevariant--wrap table tr {
    border-bottom: none;
    margin: 0 0 1em 0;
  }

  .sw-responsive-table__wrapper.tablestyle--zebra.tablevariant--wrap td,
  .sw-responsive-table__wrapper.tablestyle--simple.tablevariant--wrap td {
    border-bottom: var(--sw-responsive-table-td-border-bottom-width, 1px) solid
      var(--sw-responsive-table-td-border-bottom-color, #ccc);
    text-align: right;
  }

  .sw-responsive-table__wrapper.tablestyle--zebra.tablevariant--wrap
    table
    tr:nth-child(even)
    td {
    background-color: var(
      --sw-responsive-table-tr-background-color--zebra,
      #f6f6f6
    );
  }

  .sw-responsive-table__wrapper.tablevariant--wrap table .highlight td,
  .sw-responsive-table__wrapper.tablevariant--wrap table td.highlight {
    background-color: var(
      --sw-responsive-table-tr-background-color--highlight,
      #dcf1f0
    ) !important;
    font-weight: var(--sw-responsive-table-tr-font-weight--highlight, bold);
  }

  .sw-responsive-table__wrapper.tablevariant--wrap table tr[data-title]:before {
    content: attr(data-title);
    font-weight: bold;
    content: attr(data-title);
    display: block;
    text-align: center;
    margin: 4px;
    /* float: left; */
    margin-right: 0.5em;
    font-size: 0.95em;
  }

  .sw-responsive-table__wrapper.tablevariant--wrap table td[data-title]:before {
    content: attr(data-title);
    font-weight: bold;
    content: attr(data-title);
    display: block;
    float: left;
    margin-right: 1em;
    font-size: 0.95em;
  }
  .sw-responsive-table__wrapper.tablevariant--wrap:not(.tablestyle--grid) table td:last-child {
    border-bottom: var(
        --sw-responsive-table-border-bottom-width--last-child,
        1px
      )
      solid #ccc;
  }
}
